#Progress_Status { 
  width: 50%; 
  background-color: #ddd; 
} 
  
#myprogressBar { 
  width: 1%; 
  height: 35px; 
  background-color: rgb(4, 100, 224); 
  text-align: center; 
  line-height: 32px; 
  color: black; 
}